.container {
  background-color: #c9c3e6;
  padding: 30px;
  border-radius: 10px;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  color: #432371;
}

.content {
  font-family: 'Lato', sans-serif;
  color: #666;
  line-height: 1.5;
}

.list_item {
  padding-left: 20px;
}

.list_item::before {
  color: #432371;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background-color: #6b7280;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  color: #432371;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.content {
  font-size: 16px;
  color: #000000;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list_item {
  margin-bottom: 10px;
  padding-left: 20px;
}

.list_item::before {
  content: "🔹";
  color: #432371;
  font-weight: bold;
  margin-right: 10px;
}

@media (min-width: 770px) {

  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}