.iframe {
  width: 646px;
  height: 375px;
  border: 0;
  transform-origin: 5 5;
  transform: scale(1);
  overflow: hidden;
}

.bdfd {
  height: 280px;
}

.aoi {
  height: 760px;
}

.fs {
  height: 760px;
}

.py {
  height: 770px;
}

.djs {
  height: 850px;
}
